* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*estilos header*/
header nav div section a img {
  width: 8rem; }

header nav div .offcanvas .offcanvas-header div p {
  font-family: "Prompt", sans-serif;
  text-transform: capitalize;
  font-size: 30px; }

header nav div .offcanvas .offcanvas-body .navbar-nav li {
  font-family: "Space Grotesk", sans-serif;
  font-weight: bold;
  font-size: 20px; }
  header nav div .offcanvas .offcanvas-body .navbar-nav li a {
    color: #292828; }
  header nav div .offcanvas .offcanvas-body .navbar-nav li a:hover {
    transition: 0.2s;
    color: #5e5e5e; }

/*estilos home*/
.main-clothe div img {
  width: 100%;
  height: 100%; }

.main-clothe div iframe {
  width: 100%;
  height: 20rem;
  margin-top: 1rem; }

.main-clothe .primer-h1 {
  text-align: center;
  margin-top: 1rem;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase; }

.main-clothe .final-uno {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem; }
  .main-clothe .final-uno img {
    width: 100%;
    height: 100%; }

/*estilos footer*/
footer .atributo {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column-reverse; }

footer .tributo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: black;
  gap: 1rem; }
  footer .tributo h3 {
    font-family: "Space Grotesk", sans-serif;
    font-size: small; }

footer div .pie-tres {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
  align-items: start;
  padding: 1rem;
  gap: 6rem;
  font-family: "Space Grotesk", sans-serif;
  font-size: small;
  margin-left: 1rem; }
  footer div .pie-tres a {
    text-decoration: none;
    text-transform: none;
    color: black; }

footer .pie-dos {
  height: 0;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: tomato; }
  footer .pie-dos a img {
    width: 20px;
    position: relative;
    bottom: 3.5rem; }

footer .ico-fixed {
  position: fixed;
  right: 20px;
  bottom: 35px; }
  footer .ico-fixed img {
    width: 30px;
    height: 30px; }
  footer .ico-fixed img:hover {
    width: 40px;
    height: 40px;
    transition: 0.5s; }

/*media queires para tablet home*/
@media screen and (min-width: 600px) {
  .main-clothe .final-uno {
    grid-template-columns: repeat(2, 1fr); }
    .main-clothe .final-uno .final-cuatro {
      display: none; } }

/*media queries para escritorio home*/
@media screen and (min-width: 1024px) {
  .main-clothe .final-uno {
    height: 500px;
    overflow: hidden;
    margin-bottom: 1rem;
    grid-template-columns: 60% 40%; } }

/*styles de clothes*/
main .div-cero, .main-sales .sales, .main-sales .coming, main .size, .main-about-us .aboutus .sobre-nosotros .grilla-uno, .main-about-us .sales {
  text-align: center;
  margin: 2rem;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase; }

main .div-seis, main .div-uno, .main-sales div .ultimo-sales, main .size-cero, main .size-uno, .main-about-us .ultimo-tres {
  display: none; }

main .size-dos .size-tres img {
  width: 50vh;
  height: 50vh;
  object-fit: cover; }

.main-sales .sales-uno div img, .main-sales div .img-cuatro {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  padding: 0.5rem; }

.main-about-us .aboutus .sobre-nosotros iframe {
  height: 20vh;
  width: 20vh; }

main .section {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem; }
  main .section .div-dos {
    width: 290px;
    height: 550px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #eeeeee;
    object-fit: cover; }
    main .section .div-dos img {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75%;
      padding: 1rem;
      object-fit: cover; }
    main .section .div-dos .card-dos {
      padding: 1rem; }
      main .section .div-dos .card-dos h2 {
        margin-left: 10px;
        font-size: 20px; }
      main .section .div-dos .card-dos p {
        font-size: 16px;
        margin-left: 10px; }
      main .section .div-dos .card-dos a {
        font-family: "Space Grotesk", sans-serif;
        margin: 10px;
        border: 8px solid #333333;
        border-radius: 10px;
        text-decoration: none;
        text-transform: none;
        color: #eeeeee;
        background-color: #333333; }
      main .section .div-dos .card-dos a:hover {
        border: 8px solid #855235;
        background-color: #855235;
        color: white; }
  main .section .div-tres {
    width: 290px;
    height: 550px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #eeeeee;
    object-fit: cover; }
    main .section .div-tres img {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75%;
      padding: 1rem;
      object-fit: cover; }
    main .section .div-tres .card-tres {
      padding: 1rem; }
      main .section .div-tres .card-tres h2 {
        margin-left: 10px;
        font-size: 20px; }
      main .section .div-tres .card-tres p {
        font-size: 16px;
        margin-left: 10px; }
      main .section .div-tres .card-tres a {
        font-family: "Space Grotesk", sans-serif;
        margin: 10px;
        border: 8px solid #333333;
        border-radius: 10px;
        text-decoration: none;
        text-transform: none;
        color: #eeeeee;
        background-color: #333333; }
      main .section .div-tres .card-tres a:hover {
        border: 8px solid #855235;
        background-color: #855235;
        color: white; }

main .section-dos {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem; }
  main .section-dos .div-cinco {
    width: 290px;
    height: 550px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #eeeeee;
    object-fit: cover; }
    main .section-dos .div-cinco img {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75%;
      padding: 1rem;
      object-fit: cover; }
    main .section-dos .div-cinco .card-cinco {
      padding: 1rem; }
      main .section-dos .div-cinco .card-cinco h2 {
        margin-left: 10px;
        font-size: 20px; }
      main .section-dos .div-cinco .card-cinco p {
        font-size: 16px;
        margin-left: 10px; }
      main .section-dos .div-cinco .card-cinco a {
        font-family: "Space Grotesk", sans-serif;
        margin: 10px;
        border: 8px solid #333333;
        border-radius: 10px;
        text-decoration: none;
        text-transform: none;
        color: #eeeeee;
        background-color: #333333; }
      main .section-dos .div-cinco .card-cinco a:hover {
        border: 8px solid #855235;
        background-color: #855235;
        color: white; }
  main .section-dos .div-siete {
    display: block;
    width: 290px;
    height: 550px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #eeeeee;
    object-fit: cover; }
    main .section-dos .div-siete img {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75%;
      padding: 1rem;
      object-fit: cover; }
    main .section-dos .div-siete .card-siete {
      padding: 1rem; }
      main .section-dos .div-siete .card-siete h2 {
        margin-left: 10px;
        font-size: 20px; }
      main .section-dos .div-siete .card-siete p {
        font-size: 16px;
        margin-left: 10px; }
      main .section-dos .div-siete .card-siete a {
        font-family: "Space Grotesk", sans-serif;
        margin: 10px;
        border: 8px solid #333333;
        border-radius: 10px;
        text-decoration: none;
        text-transform: none;
        color: #eeeeee;
        background-color: #333333; }
      main .section-dos .div-siete .card-siete a:hover {
        border: 8px solid #855235;
        background-color: #855235;
        color: white; }

main .section-tres {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
  justify-content: center;
  align-self: center; }
  main .section-tres .div-ocho {
    width: 290px;
    height: 550px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #eeeeee;
    object-fit: cover;
    justify-content: space-evenly;
    margin-bottom: 1rem; }
    main .section-tres .div-ocho img {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75%;
      padding: 1rem;
      object-fit: cover; }
    main .section-tres .div-ocho .card-ocho {
      padding: 1rem; }
      main .section-tres .div-ocho .card-ocho h2 {
        margin-left: 10px;
        font-size: 20px; }
      main .section-tres .div-ocho .card-ocho p {
        font-size: 16px;
        margin-left: 10px; }
      main .section-tres .div-ocho .card-ocho a {
        font-family: "Space Grotesk", sans-serif;
        margin: 10px;
        border: 8px solid #333333;
        border-radius: 10px;
        text-decoration: none;
        text-transform: none;
        color: #eeeeee;
        background-color: #333333; }
      main .section-tres .div-ocho .card-ocho a:hover {
        border: 8px solid #855235;
        background-color: #855235;
        color: white; }

/*media queries clothes tablet*/
@media screen and (min-width: 600px) {
  main .section {
    flex-direction: row;
    justify-content: space-around; }
  main .section-dos {
    justify-content: space-around;
    flex-direction: row; }
  main .section-tres {
    justify-content: space-around; } }

/*media queries para escritorio clothes */
@media screen and (min-width: 1024px) {
  .cloth-dos .section .div-uno {
    display: block;
    width: 290px;
    height: 550px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    background-color: #eeeeee;
    object-fit: cover; }
    .cloth-dos .section .div-uno img {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75%;
      padding: 1rem;
      object-fit: cover; }
    .cloth-dos .section .div-uno .card-uno {
      padding: 1rem; }
      .cloth-dos .section .div-uno .card-uno h2 {
        margin-left: 10px;
        font-size: 20px; }
      .cloth-dos .section .div-uno .card-uno p {
        font-size: 16px;
        margin-left: 10px; }
      .cloth-dos .section .div-uno .card-uno a {
        font-family: "Space Grotesk", sans-serif;
        margin: 10px;
        border: 8px solid #333333;
        border-radius: 10px;
        text-decoration: none;
        text-transform: none;
        color: #eeeeee;
        background-color: #333333; }
      .cloth-dos .section .div-uno .card-uno a:hover {
        border: 8px solid #855235;
        background-color: #855235;
        color: white; }
  .cloth-dos .section-dos {
    justify-content: space-around; }
    .cloth-dos .section-dos .div-seis {
      display: block;
      width: 290px;
      height: 550px;
      border: 1px solid #eeeeee;
      border-radius: 5px;
      background-color: #eeeeee;
      object-fit: cover; }
    .cloth-dos .section-dos img {
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 75%;
      padding: 1rem;
      object-fit: cover; }
    .cloth-dos .section-dos .card-seis {
      padding: 1rem; }
      .cloth-dos .section-dos .card-seis h2 {
        margin-left: 10px;
        font-size: 20px; }
      .cloth-dos .section-dos .card-seis p {
        font-size: 16px;
        margin-left: 10px; }
      .cloth-dos .section-dos .card-seis a {
        font-family: "Space Grotesk", sans-serif;
        margin: 10px;
        border: 8px solid #333333;
        border-radius: 10px;
        text-decoration: none;
        text-transform: none;
        color: #eeeeee;
        background-color: #333333; }
      .cloth-dos .section-dos .card-seis a:hover {
        border: 8px solid #855235;
        background-color: #855235;
        color: white; } }

main .div-cero, .main-sales .sales, .main-sales .coming, main .size, .main-about-us .aboutus .sobre-nosotros .grilla-uno, .main-about-us .sales {
  text-align: center;
  margin: 2rem;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase; }

main .div-seis, main .div-uno, .main-sales div .ultimo-sales, main .size-cero, main .size-uno, .main-about-us .ultimo-tres {
  display: none; }

main .size-dos .size-tres img {
  width: 50vh;
  height: 50vh;
  object-fit: cover; }

.main-sales .sales-uno div img, .main-sales div .img-cuatro {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  padding: 0.5rem; }

.main-about-us .aboutus .sobre-nosotros iframe {
  height: 20vh;
  width: 20vh; }

/*estilos de sales*/
.main-sales p {
  text-align: center;
  margin: 1rem;
  font-family: 'Space Grotesk', sans-serif;
  font-size: medium; }

.main-sales .sales-uno {
  display: grid;
  grid-template-columns: repeat(1, 1fr); }

/*media queires para tablet sales*/
@media screen and (min-width: 600px) {
  .main-sales .sales-uno {
    grid-template-columns: repeat(3, 1fr); } }

/*media queires para escritorio sales*/
@media screen and (min-width: 1024px) {
  .main-sales .mercol .ultimo-sales {
    display: block;
    width: 100%;
    height: 80vh;
    object-fit: cover;
    padding: 0.5rem; } }

main .div-cero, .main-sales .sales, .main-sales .coming, main .size, .main-about-us .aboutus .sobre-nosotros .grilla-uno, .main-about-us .sales {
  text-align: center;
  margin: 2rem;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase; }

main .div-seis, main .div-uno, .main-sales div .ultimo-sales, main .size-cero, main .size-uno, .main-about-us .ultimo-tres {
  display: none; }

main .size-dos .size-tres img {
  width: 50vh;
  height: 50vh;
  object-fit: cover; }

.main-sales .sales-uno div img, .main-sales div .img-cuatro {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  padding: 0.5rem; }

.main-about-us .aboutus .sobre-nosotros iframe {
  height: 20vh;
  width: 20vh; }

/*estilos de sizes*/
main .size-dos .size-tres {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem; }
  main .size-dos .size-tres .size-cinco table {
    font-family: 'Space Grotesk', sans-serif;
    font-size: small;
    border-collapse: separate;
    border-spacing: 0.5rem;
    border: 2px solid black;
    width: 50%;
    height: 20vh; }
    main .size-dos .size-tres .size-cinco table tr td {
      border: 2px solid black;
      padding: 0.1rem;
      text-align: center; }

/*media queires para tablet size*/
@media screen and (min-width: 600px) {
  .main-size .size-dos .size-tres {
    justify-content: space-around;
    flex-direction: row; }
  .main-size .size-seis {
    flex-direction: row; } }

/*media queires para escritorio size*/
@media screen and (min-width: 1024px) {
  .main-size .size-dos .size-tres {
    justify-content: space-evenly; }
  .main-size .size-cero {
    display: block;
    text-align: center;
    margin-top: 1rem;
    font-family: "Space Grotesk", sans-serif;
    text-transform: uppercase; }
  .main-size .size-uno {
    display: block;
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 1rem;
    font-family: "Space Grotesk", sans-serif; } }

main .div-cero, .main-sales .sales, .main-sales .coming, main .size, .main-about-us .aboutus .sobre-nosotros .grilla-uno, .main-about-us .sales {
  text-align: center;
  margin: 2rem;
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase; }

main .div-seis, main .div-uno, .main-sales div .ultimo-sales, main .size-cero, main .size-uno, .main-about-us .ultimo-tres {
  display: none; }

main .size-dos .size-tres img {
  width: 50vh;
  height: 50vh;
  object-fit: cover; }

.main-sales .sales-uno div img, .main-sales div .img-cuatro {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  padding: 0.5rem; }

.main-about-us .aboutus .sobre-nosotros iframe {
  height: 20vh;
  width: 20vh; }

/*estilos de aboutus*/
.main-about-us .aboutus {
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  background-color: #eeeeee;
  margin: 1rem; }
  .main-about-us .aboutus .sobre-nosotros .grilla-uno {
    margin-bottom: 0.5rem;
    font-size: small; }

.main-about-us div p {
  text-align: center;
  margin-top: 1rem;
  font-family: "Space Grotesk", sans-serif; }

.main-about-us .ultimo .ultimo-cinco {
  height: 50%;
  overflow: hidden;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem; }
  .main-about-us .ultimo .ultimo-cinco img {
    width: 100%;
    height: 100%; }

/*media queries about us tablet*/
@media screen and (min-width: 600px) {
  .main-about-us .ultimo-tres {
    display: block; }
  .main-about-us .aboutus .sobre-nosotros .grilla-uno {
    text-align: center; }
  .main-about-us .aboutus .sobre-nosotros .grilla-dos {
    text-align: center; }
  .main-about-us .ultimo .ultimo-cinco {
    margin-right: 1rem;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(2, 50%);
    column-gap: 1rem; }
    .main-about-us .ultimo .ultimo-cinco .img-uno {
      display: none; }
    .main-about-us .ultimo .ultimo-cinco .img-dos {
      grid-row: span 2; }
  .main-about-us .ultimo-tres {
    text-align: center;
    margin: 1rem;
    font-family: "Space Grotesk", sans-serif;
    text-transform: uppercase; }
    .main-about-us .ultimo-tres .iframe-dos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
      margin-top: 1rem; }
      .main-about-us .ultimo-tres .iframe-dos iframe {
        width: 100%;
        height: 100%; }
  .main-about-us div p {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto; } }

/* estilos media queries para escritorio aboutus */
@media screen and (min-width: 1024px) {
  .main-about-us .ultimo .ultimo-cinco {
    gap: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    .main-about-us .ultimo .ultimo-cinco .img-uno {
      display: block; }
    .main-about-us .ultimo .ultimo-cinco .img-dos {
      grid-row: span 1; }
    .main-about-us .ultimo .ultimo-cinco div img {
      width: 100%;
      height: 70vh;
      object-fit: cover; }
  .main-about-us div p {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto; } }
