/*styles de clothes*/

@import "../utilidades/extend";
@import "../utilidades/mixin";
@import "../utilidades/variables";


main{
    .div-cero{
        @extend %size;
    }
    .section{
        @include clothes-sec; 
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        
        .div-dos{
            @include card-div;
            img{
                @include card-img;
            }
            .card-dos{
                padding: 1rem;
                h2{
                    margin-left: 10px;
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                    margin-left: 10px;
                }
                a{
                    @include card-a;
                }
                a:hover{
                    border: 8px solid $color-nav;
                    background-color: $color-nav;
                    color:white ;
                }
            
            }

        }
        .div-tres{
            @include card-div;
            img{
                @include card-img;
            }
            .card-tres{
                padding: 1rem;
                h2{
                    margin-left: 10px;
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                    margin-left: 10px;
                }
                a{
                    @include card-a;
                }
                a:hover{
                    border: 8px solid $color-nav;
                    background-color: $color-nav;
                    color:white ;
                }
            
            }
        
        

        }
    }
    .section-dos{
        @include clothes-sec;
        flex-direction: column;
        align-items: center;
        row-gap: 1rem;
        .div-cinco{
            @include card-div;
            img{
                @include card-img;
            }
            .card-cinco{
                padding: 1rem;
                h2{
                    margin-left: 10px;
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                    margin-left: 10px;
                }
                a{
                    @include card-a;
                }
                a:hover{
                    border: 8px solid $color-nav;
                    background-color: $color-nav;
                    color:white ;
                }
            
            }
        }
        .div-siete{
                display: block;
                @include card-div;
                img{
                    @include card-img;
                }
                .card-siete{
                    padding: 1rem;
                    h2{
                        margin-left: 10px;
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                        margin-left: 10px;
                    }
                    a{
                        @include card-a;
                    }
                    a:hover{
                        border: 8px solid $color-nav;
                        background-color: $color-nav;
                        color:white ;
                    }
                }
            }
    }
    
    .div-seis{
        @extend %display;
    }
    
    .div-uno{
        @extend %display;
    }
    
    .section-tres{
        @include clothes-sec;
        .div-ocho{
            @include card-div;
            justify-content: space-evenly;
            margin-bottom: 1rem;
            img{
                @include card-img;
            }
            .card-ocho{
                padding: 1rem;
                h2{
                    margin-left: 10px;
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                    margin-left: 10px;
                }
                a{
                    @include card-a;
                }
                a:hover{
                    border: 8px solid $color-nav;
                    background-color: $color-nav;
                    color:white ;
                }
            }
            

        }
        
    }
}


/*media queries clothes tablet*/

@media screen and (min-width:600px){
    main{
        .section{
            flex-direction: row;
            justify-content: space-around;      
        }
        .section-dos{
            justify-content: space-around;
            flex-direction: row;
            

            
        }
        .section-tres{
            justify-content: space-around; 
        }
    }
}

/*media queries para escritorio clothes */

@media screen and (min-width:1024px){
    .cloth-dos{
        .section{
            .div-uno{
                display: block;
                @include card-div;
                img{
                    @include card-img;
                }
                .card-uno{
                    padding: 1rem;
                    h2{
                        margin-left: 10px;
                        font-size: 20px;
                    }
                    p{
                        font-size: 16px;
                        margin-left: 10px;
                    }
                    a{
                        @include card-a;
                    }
                    a:hover{
                        border: 8px solid $color-nav;
                        background-color: $color-nav;
                        color:white ;
                    }
                }
                
    
            }
            
            
        }
        .section-dos{
            justify-content: space-around;
            .div-seis{
                display: block;
                @include card-div;
            }
            img{
                @include card-img;
            }
            .card-seis{
                padding: 1rem;
                h2{
                    margin-left: 10px;
                    font-size: 20px;
                }
                p{
                    font-size: 16px;
                    margin-left: 10px;
                }
                a{
                    @include card-a;
                }
                a:hover{
                    border: 8px solid $color-nav;
                    background-color: $color-nav;
                    color:white ;
                }
            }
        }
        
    }
}


