//mixin

@mixin size{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin aboutus{
    height: 30vh;    
    background-image: url(../img/Home\header-08.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

